
# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Environment variables and secrets
.env
.env.*

# VS Code local settings
.vscode/

# Some Extra Python Files
loop.py
db_test.py
